.obj-box{
    text-align: center;
    width:200px;
    height: 300px;
    display: inline-block;
    width: 250px;
    height:350px;
    margin: 40px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    
}
body {
    background-color: rgba(235, 235, 235, 0.674);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
  }

h4{
    height:60px;
    padding-top: 20px;
    font-weight: bolder;
    box-sizing: border-box;
    background-color: #75d0cd;
    border-radius: 20px 20px 0px 0px;
}

h5{
    font-weight: bold;
    font-size: 25px;
}