.cartImg{
    height:350px;
    border:1px solid black;
}
.order{
    position: fixed;
    width:400px;
    height: 100px;
    border-radius: 10px;
    border: none;
    background-color: #89e4e1;
    font-weight: bolder;
    font-size: 30px;
    bottom:40px;
    right: 50px;
}
.order:hover{
    color: white;
}
.date{
    font-weight: bold;
    padding: 10px;
    margin-left:20px;

}

select{
    right: 60px;
    height: 60px;
    width:150px;
    border-radius: 20px;
    margin-left:auto;
    margin-right:50px;
    box-sizing: border-box;
    font-size: 20px;
    padding-left: 20px;
}
